<html>

<head>
    <title>Inversão Lista</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap/css/inversao.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/btn-AdicionarPonteiro.js"></script>
    <script src="../js/main.js"></script>
</head>

<body onload="onLoad();">

    <div class="container">

        <header>
            <h1>Lista Encadeada</h1>
        </header>

        <div class=" col-md-12 ">
            <div class="col-md-4 float-left" id="menu-lateral">
                <a class="btn btn-primary" id="btn-restart" onClick="window.location.reload()"> REINICIAR </a>
                <div class="celula" id="head">
                    <label>HEAD</label>
                    <div class="row celula-display" id="display-0">
                        <input type="hidden" value="head">
                        <input class="col-md-2 float-left display" id="head-end" onfocusin="armazenaEnderecoAnterior(this)" onfocusout="navegacaoPeloInput(this)"
                        />

                        <a class="btn-navegacao" id="btn-head" onclick="navNext(this)">
                            <i class="material-icons">
                                navigate_next
                            </i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <input type="hidden" value="head">

                    <a class="btn-add-ponteiro " id="btn-show-head" onclick="exibePonteiro(this)">
                        <i class="material-icons" id="icon-add">
                            add
                        </i>
                    </a>
                </div>

                <div class="celula" id="p">
                    <label>P</label>
                    <div class="row celula-display" id="display-0">
                        <input type="hidden" value="p">
                        <input class="col-md-2 float-left display" id="p-end" onfocusin="armazenaEnderecoAnterior(this)" onfocusout="navegacaoPeloInput(this)"
                        />

                        <a class="btn-navegacao" id="btn-p" onclick="navNext(this)">
                            <i class="material-icons">
                                navigate_next
                            </i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <input type="hidden" value="p">

                    <a class="btn-add-ponteiro " id="btn-show-p" onclick="exibePonteiro(this)">
                        <i class="material-icons" id="icon-add">
                            add
                        </i>
                    </a>
                </div>
            </div>
            <div class="col-md-8 float-left" id="tabuleiro">

                <div id="pluzze-A">
                    <img src="../img/puzzle.png" class="img-pluzze">
                    <div class="row display-pluzze">
                        <h3 class="endereco" id="label-A">A</h3>
                        <label class="col-md-2 display-pluzze-label" id="dado-A"></label>
                        <input class="col-md-2 display-pluzze-label" id="next-A" onfocusout="alteraLista('A')" />
                    </div>
                </div>

                <div id="pluzze-B">
                    <img src="../img/puzzle.png" class="img-pluzze">
                    <div class="row display-pluzze">
                        <h3 class="endereco" id="label-B">B</h3>
                        <label class="col-md-2 display-pluzze-label" id="dado-B"></label>
                        <input class="col-md-2 display-pluzze-label" id="next-B" onfocusout="alteraLista('B')" />
                    </div>
                </div>

                <div id="pluzze-C">
                    <img src="../img/puzzle.png" class="img-pluzze">
                    <div class="row display-pluzze">
                        <h3 class="endereco" id="label-C">C</h3>
                        <label class="col-md-2 display-pluzze-label" id="dado-C"></label>
                        <input class="col-md-2 display-pluzze-label" id="next-C" onfocusout="alteraLista('C')" />
                    </div>
                </div>

                <div id="pluzze-D">
                    <img src="../img/puzzle.png" class="img-pluzze">
                    <div class="row display-pluzze">
                        <h3 class="endereco" id="label-D">D</h3>
                        <label class="col-md-2 display-pluzze-label" id="dado-D"></label>
                        <input class="col-md-2 display-pluzze-label" id="next-D" onfocusout="alteraLista('D')" />
                    </div>
                </div>

                <div id="pluzze-E">
                    <img src="../img/puzzle.png" class="img-pluzze">
                    <div class="row display-pluzze">
                        <h3 class="endereco" id="label-E">E</h3>
                        <label class="col-md-2 display-pluzze-label" id="dado-E"></label>
                        <input class="col-md-2 display-pluzze-label" id="next-E" onfocusout="alteraLista('E')" />
                    </div>
                </div>

                <div id="pluzze-F">
                    <img src="../img/puzzle.png" class="img-pluzze">
                    <div class="row display-pluzze">
                        <h3 class="endereco" id="label-F">F</h3>
                        <label class="col-md-2 display-pluzze-label" id="dado-F"></label>
                        <input class="col-md-2 display-pluzze-label" id="next-F" onfocusout="alteraLista('F')" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>